html
    head
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="/stylesheets/style.css")
        script(src="/socket.io/socket.io.js")
        script(src="/javascripts/jquery.js")
        script.
            loginId = "#{data.id}";
            loginName = "#{data.name}";
            loginEmail = "#{data.email}";
        script(src='/javascripts/socket.js')

body
    div(id="id01" class="modal")
        div(class="modal-content")
            span(class="close" title="Close Modal") &times;
            p dumymodalmodalmodalmodalmodal

    div(id="id02" class="modal rooms-modal")
        div(class="modal-content")
            span(class="close" title="Close Modal") &times;
            p dumymodalmodalmodalmodalmodal1

    div(id="id03" class="call-modal")
        div(class="card")
            img(src="images/img_avatar2.png" alt="Avatar" style="width:100%")
            div(class="card-container")
                h4
                    b Jane Doe
                    p Interior Designer
            div(class="call-buttons-container")
                button(class="accept") Accept
                button(class="decline") Decline

    div(id="id04" class="modal rooms-modal")
        span(class="close" title="Close Modal") &times;
        div(class="modal-content")


    div(id="id05" class="modal chatModal")
        div(class="modal-content")
            div(class="windowBar")
                div(class="column")
                    span(class="bar-dot minApplication" style="background:#ED594A;")
                    span(class="bar-dot fullApplication" style="background:#FDD800;")
                    span(class="bar-dot closeApplication" style="background:#5AC05A;")
                    div(class="clearfix")
            div(class="chat-modal-content")

                div(class="tabs-container")
                    ul(id = "tabs")
                        li(class = "tab-link current tab-1" data-tab = "tab-1")
                            a(href="#") Tab1
                        li(class = "tab-link tab-1" data-tab = "tab-2")
                            a(href="#") Tab2
                        li(class = "tab-link tab-1" data-tab = "tab-3")
                            a(href="#") Tab3


                div(class="tabs")
                    div(id = "tab-1" class = "container container-tab current")
                        div(class="privateChat-container")
                            div(class="clearfix")
                            div(class="private-messages-container")
                            div(class="clearfix")
                            div(class="private-textarea-container")
                                form(class="private-textarea-form")
                                    textarea(class="private-textarea-field")
                            div(class="clearfix")
                                

                    div(id = "tab-2" class = "container container-tab")
                        p test tab-2
                    div(id = "tab-3" class = "container container-tab")
                        p test tab-3

    div(class="groups-container")
        div
            h2(class="rooms") ROOMS
            div(id="rooms")

        div
            h2(class="rooms") My Rooms
            div(id="myRooms")
                a(href="#")
                    i(class="far fa-plus-square")

        div
            h2(class="rooms") Settings
            div(class="settings-container")
                a(href="#")
                    i(class="fas fa-cog")
            hr

            div(class="search-users")
                a(href="#")
                    i(class="fas fa-user-plus")

    div(class="chat-container")
        div(id="chatroom")
            div(id="feedback")

        form(id="textarea" action="" method="POST")
            textarea(name="text_editor" id="text")
            button( class="signupbtn" type="submit")
                i(class="far fa-paper-plane")

    div(tyle="display: none;" class="user-container")
        div(class="friendList")
            h2(class="rooms friendListHeader") Friends
            div(class="notifications")
            div(class="list-my-friends")
