extends layout

block content
    div.wrap
        div.test
            h1 It's time to ditch Skype and TeamSpeak
            p All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone. Stop paying for TeamSpeak servers and hassling with Skype. Simplify your life.

            div.linksAutho
                a(href="/users/login" class="login buttonBase-2nT7-z") Login
                a(href="/users/register" class="register fieldWrap-FPKPdL") Register