extends layout

block content
    div.wrap

        form(class="loginForm" method="post" action="/users/login")
            div.formHeader
                h1 Welcome back!
                p We're so excited to see you again!

            label Username
            input(class="field" type="text" name="username")

            label Password
            input(class="field" type="password" name="password")
            a(class="colorBlue" href="/forgot") Forgot your password ?

            input(class="submit" type="submit")
            p.needAcc Need an account?
                a(class="colorBlue" href="/users/register") Register
